<!-- IF RCE_LOAD and S_BBCODE_ALLOWED -->
<script type="text/javascript">
RinEditor = {
	"Video URL:": "{{ lang('RCE_VIDEO_URL') }}",
	"Insert": "{{ lang('RCE_INSERT') }}",
	"Description (optional):": "{{ lang('RCE_DESCRIPTION_OPTIONAL') }}",
	"Enter the image URL:": "{{ lang('RCE_ENTER_THE_IMAGE_URL') }}",
	"Enter URL:": "{{ lang('RCE_ENTER_URL') }}",
	"Insert a video": "{{ lang('RCE_INSERT_A_VIDEO') }}",
	"More": "{{ lang('RCE_MORE') }}",
	"Restore": "{{ lang('RCE_RESTORE') }}",
	"Quickquote": "{{ lang('RCE_QUICK_QUOTE') }}"
};
rce_sty = JSON.parse(localStorage.getItem('rce_mode'));
if (!rce_sty) {
	rce_sty = {};
	rce_sty['mode'] = 'wysiwyg';
	localStorage.setItem('rce_mode', JSON.stringify(rce_sty));
}
var dropdownsmiliesurl = [<!-- BEGIN RCE_EMOTICONS -->"{RCE_EMOTICONS.url}"<!-- IF !RCE_EMOTICONS.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_EMOTICONS -->],
dropdownsmiliesdes = [<!-- BEGIN RCE_EMOTICONS -->"{RCE_EMOTICONS.code}"<!-- IF !RCE_EMOTICONS.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_EMOTICONS -->],
dropdownsmiliesname = [<!-- BEGIN RCE_EMOTICONS -->"{RCE_EMOTICONS.name}"<!-- IF !RCE_EMOTICONS.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_EMOTICONS -->],
dropdownsmiliesurlmore = [<!-- BEGIN RCE_EMOTICONS_PLUS -->"{RCE_EMOTICONS_PLUS.url}"<!-- IF !RCE_EMOTICONS_PLUS.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_EMOTICONS_PLUS -->],
dropdownsmiliesdesmore = [<!-- BEGIN RCE_EMOTICONS_PLUS -->"{RCE_EMOTICONS_PLUS.code}"<!-- IF !RCE_EMOTICONS_PLUS.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_EMOTICONS_PLUS -->],
dropdownsmiliesnamemore = [<!-- BEGIN RCE_EMOTICONS_PLUS -->"{RCE_EMOTICONS_PLUS.name}"<!-- IF !RCE_EMOTICONS_PLUS.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_EMOTICONS_PLUS -->],
smileydirectory = "{RCE_SMILEY_PATH}",
rinsmileysc = '{RCE_SMILEY_SC}',
rinstartupmode = rce_sty['mode'],
rinmobsms = '{RCE_MOBM_SOURCE}',
rinlanguage = '{RCE_LANGUAGE}',
rinheight = '{RCE_HEIGHT}',
rinrmvbut = '<!-- BEGIN RCE_RMV_BUTTONS -->{RCE_RMV_BUTTONS.rule}<!-- IF !RCE_RMV_BUTTONS.S_LAST_ROW -->,<!-- ENDIF --><!-- END RCE_RMV_BUTTONS -->',
extrabut = '<!-- BEGIN RCE_RULES -->{RCE_RULES.rule}<!-- IF !RCE_RULES.S_LAST_ROW -->,<!-- ENDIF --><!-- END RCE_RULES -->',
extrabutdesc = '<!-- IF S_BBCODE_FLASH -->flash<!-- ENDIF --><!-- BEGIN RCE_RULES_DES --><!-- IF !RCE_RULES_DES.S_FIRST_ROW or S_BBCODE_FLASH -->,<!-- ENDIF -->{RCE_RULES_DES.rule}<!-- IF !RCE_RULES_DES.S_LAST_ROW -->,<!-- ENDIF --><!-- END RCE_RULES_DES -->',
rinautosave = '<!-- IF !S_LINKS_ALLOWED -->link,<!-- ENDIF --><!-- IF !S_BBCODE_IMG -->image,<!-- ENDIF --><!-- IF !S_BBCODE_QUOTE -->blockquote,<!-- ENDIF --><!-- IF !RCE_AUTOSAVE -->autosave,<!-- ENDIF --><!-- IF !S_SMILIES_ALLOWED -->smiley,emojione,<!-- ENDIF --><!-- BEGIN RCE_RMV_PLUGIN -->{RCE_RMV_PLUGIN.rule}<!-- IF !RCE_RMV_PLUGIN.S_LAST_ROW -->,<!-- ENDIF --><!-- END RCE_RMV_PLUGIN -->',
rinautosavemsg = '{RCE_AUTOSAVE_MESSAGE}',
rinskin = '{RCE_SKIN}',
rootpath = "{RCE_ROOT_PATH}",
rinimgur = '{RCE_IMGURAPI}',
maxncharc = '{RCE_MAX_NAME_CARACT}',
maxfontsize = '{RCE_MAX_FONT_SIZE}',
desnopop = '{RCE_DES_NOPOP}',
partialmode = '{RCE_PARTIAL}',
supext = '{RCE_SUP_EXT}',
seltext = '{RCE_SELTEXT}',
fontsizes = '{% for font in RCE_FONT_SIZES %}{% if !loop.first and font.size <= RCE_MAX_FONT_SIZE %};{% endif %}{% if !loop.first and RCE_MAX_FONT_SIZE == 0 %};{% endif %}{% if font.size <= RCE_MAX_FONT_SIZE %}{{ font.size }}{% endif %}{% if RCE_MAX_FONT_SIZE == 0 %}{{ font.size }}{% endif %}{% endfor %}',
postid = [<!-- BEGIN RCE_POST_ROW -->"{RCE_POST_ROW.RCE_POST_ID}"<!-- IF !RCE_POST_ROW.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_POST_ROW -->],
postuser = [<!-- BEGIN RCE_POST_ROW -->"{RCE_POST_ROW.RCE_USERNAME}"<!-- IF !RCE_POST_ROW.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_POST_ROW -->],
postdate = [<!-- BEGIN RCE_POST_ROW -->"{RCE_POST_ROW.RCE_POST_TIME}"<!-- IF !RCE_POST_ROW.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_POST_ROW -->],
postuid = [<!-- BEGIN RCE_POST_ROW -->"{RCE_POST_ROW.RCE_USER_ID}"<!-- IF !RCE_POST_ROW.S_LAST_ROW -->, <!-- ENDIF --><!-- END RCE_POST_ROW -->];
</script>
{% include 'rineditor_config.html' %}
<!-- INCLUDEJS @rin_editor/js/rineditor.js -->
<!-- INCLUDEJS @rin_editor/js/ckeditor.js -->
<!-- INCLUDEJS @rin_editor/js/adapters/jquery.js -->
<!-- INCLUDEJS @rin_editor/js/rck.init.js -->
<!-- IF RCE_SUP_SMENT and UA_AJAX_MENTION_URL --><!-- INCLUDEJS @rin_editor/js/automention.js --><!-- ENDIF -->
<!-- ENDIF -->